.message-iva-box {
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.message-iva {
    height: 35%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    background-color: #6a2476;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 38px;
}